#
# Copyright (c) 2013 Citrix Systems, Inc.
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#

# <summary>PV guest XSM module</summary>

########################################
## <summary>
##	Make the specified type usable
##      as a domain managed by dom0.
## </summary>
## <param name="type">
##	<summary>
##	Type of the domain.
##	</summary>
## </param>
#
interface(`xen_pv_type',`
	gen_require(`
		attribute domain_type, dom0_type;
		type dom0_type, domio_t;
	')

	typeattribute $1 domain_type;

	allow $1 $1:mmu { updatemp mmuext_op exchange };
')
