#
# Copyright (c) 2013 Citrix Systems, Inc.
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#

policy_module(icavm, 0.2)

########################################
#
# Declarations
#

type icavm_t;
xen_domain_type(icavm_t)
xen_pv_type(icavm_t)

#types for event channel between icavm and dom0
type icavm-dom0_evchn_t;
xen_event_type(icavm-dom0_evchn_t)
dom0_event_dst(icavm_t, icavm-dom0_evchn_t)

type dom0-icavm_evchn_t;
xen_event_type(dom0-icavm_evchn_t)
dom0_event_src(icavm_t, dom0-icavm_evchn_t)

#types for event channel between icavm and ndvm
type icavm-ndvm_evchn_t;
xen_event_type(icavm-ndvm_evchn_t)
ndvm_event_dst(icavm_t, icavm-ndvm_evchn_t)

type ndvm-icavm_evchn_t;
xen_event_type(ndvm-icavm_evchn_t)
ndvm_event_src(icavm_t, ndvm-icavm_evchn_t)

########################################
#
# ICA VM local policy
#

ndvm_use(icavm_t)
ndvm_copy_grant(icavm_t)
dom0_send_v4v(icavm_t)
dom0_recv_v4v(icavm_t)
dom0_copy_grant(icavm_t)
xen_write_console(icavm_t)
