#
# Copyright (c) 2013 Citrix Systems, Inc.
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#

policy_module(stubdom, 0.2)

########################################
#
# Declarations
#

type stubdom_t;
xen_domain_type(stubdom_t)
xen_pv_type(stubdom_t)

type stubdom-dom0_evchn_t;
xen_event_type(stubdom-dom0_evchn_t)
dom0_event_dst(stubdom_t, stubdom-dom0_evchn_t)

type dom0-stubdom_evchn_t;
xen_event_type(dom0-stubdom_evchn_t)
dom0_event_src(stubdom_t, dom0-stubdom_evchn_t)

#types for event channel between stubdom and nilfvm
type nilfvm-stubdom_evchn_t;
xen_event_type(nilfvm-stubdom_evchn_t)
nilfvm_event_dst(stubdom_t, nilfvm-stubdom_evchn_t)

type stubdom-nilfvm_evchn_t;
xen_event_type(stubdom-nilfvm_evchn_t)
nilfvm_event_src(stubdom_t, stubdom-nilfvm_evchn_t)

########################################
#
# stubdom local policy
#

allow stubdom_t self:event bind;
allow stubdom_t self:mmu updatemp;
allow stubdom_t self:grant copy;
allow stubdom_t self:resource remove;

dom0_copy_grant(stubdom_t)
dom0_send_v4v(stubdom_t)
iomem_map_rw_mmu(stubdom_t)
ndvm_use(stubdom_t)
ndvm_copy_grant(stubdom_t)
nilfvm_use(stubdom_t)
xen_write_console(stubdom_t)

# pci pass through
iomem_add_resource(stubdom_t)
iomem_use_resource_noiommu(stubdom_t)
iomem_remove_resource(stubdom_t)
ioport_add_resource(stubdom_t)
ioport_remove_resource(stubdom_t)
ioport_use_resource_noiommu(stubdom_t)
pirq_add_resource(stubdom_t)
pirq_bind_hvm(stubdom_t)
pirq_use_resource_noiommu(stubdom_t)
domio_map_write_mmu(stubdom_t)
device_add_resource(stubdom_t)
device_bind_hvm(stubdom_t)
device_remove_resource(stubdom_t)
