#
# Copyright (c) 2013 Citrix Systems, Inc.
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#

# <summary>User Interface Domain</summary>

########################################
## <summary>
##  Allow the specified domain to
##  register an argo ring with Xen
##  that can receive a msg only from
##  the uivm.
## </summary>
## <param name="type">
##	<summary>
##	Type of the domain allowed access.
##	</summary>
## </param>
#
interface(`uivm_argo_register_single_source',`
	gen_require(`
		type uivm_t;
	')

	allow $1 uivm_t:argo register_single_source;
')
########################################
## <summary>
##	Allow the specified domain to
##	send data to the UIVM via argo.
## </summary>
## <param name="type">
##	<summary>
##	Type of the domain allowe access.
##	</summary>
## </param>
#
interface(`uivm_send_argo',`
	gen_require(`
		type uivm_t;
	')

	allow $1 self:argo enable;
	allow $1 uivm_t:argo send;
')

########################################
## <summary>
##	Allow the specified type to map write uivm grants.
## </summary>
## <param name="type">
##	<summary>
##	Type of the domain allowed access.
##	</summary>
## </param>
#
interface(`uivm_map_write_grant',`
	gen_require(`
		type uivm_t;
	')

	allow $1 uivm_t:grant map_write;
')

########################################
## <summary>
##	Allow the specified domain to access
##	the UIVM's resource map.
## </summary>
## <param name="type">
##	<summary>
##	Type of the domain allowed access.
##	</summary>
## </param>
#
interface(`uivm_resource_map',`
	gen_require(`
		type uivm_t;
	')

	allow $1 uivm_t:domain2 resource_map;
')
