#
# Copyright (c) 2013 Citrix Systems, Inc.
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#

policy_module(uivm, 0.2)

########################################
#
# Declarations
#

type uivm_t;
xen_domain_type(uivm_t)
xen_pv_type(uivm_t)

type uivm-dom0_evchn_t;
xen_event_type(uivm-dom0_evchn_t)
dom0_event_dst(uivm_t, uivm-dom0_evchn_t)

type dom0-uivm_evchn_t;
xen_event_type(dom0-uivm_evchn_t)
dom0_event_src(uivm_t, dom0-uivm_evchn_t)

########################################
#
# UIVM local policy
#

dom0_send_v4v(uivm_t)
ndvm_send_v4v(uivm_t)
iomem_map_read_mmu(uivm_t)
xen_write_console(uivm_t)
